# Intro to data tools

## Hello world

In [77]:
print('Hello world')

Hello world

## Creating a variable

In [78]:
x = 2

# Working with Pandas

## Importing the library

In [79]:
import pandas as pd

## Pandas series
### Creating a series

In [80]:
flower_list = ['Sunflower', 'Orchid', 'Cup milk', 'Lily', 'Rose', 'Violet']
flower_series = pd.Series(flower_list)
flower_series.name = 'Flowers'
flower_series

0    Sunflower
1       Orchid
2     Cup milk
3         Lily
4         Rose
5       Violet
Name: Flowers, dtype: object

## Pandas dataframe

### Creating a list

In [81]:
pizza_list = [['Margherita', 'Y'], ['Pepperoni', 'N'], ['Ham and cheese', 'N'], [], ['Hawaiian', 'N']]
pizza_list.append(['Four cheese', 'Y'])
pizza_list.append(['', ''])
pizza_list.append(['Mushroom', 'Y'])
pizza_list

[['Margherita', 'Y'],
 ['Pepperoni', 'N'],
 ['Ham and cheese', 'N'],
 [],
 ['Hawaiian', 'N'],
 ['Four cheese', 'Y'],
 ['', ''],
 ['Mushroom', 'Y']]

### Turning the list into a dataframe

In [82]:
pizza_dataframe = pd.DataFrame(pizza_list)
pizza_dataframe

                0     1
0      Margherita     Y
1       Pepperoni     N
2  Ham and cheese     N
3            None  None
4        Hawaiian     N
5     Four cheese     Y
6
7        Mushroom     Y

In [83]:
pizza_dataframe.columns = ['Flavor', 'Is it vegetarian?']
pizza_dataframe.name = 'Pizzas'
pizza_dataframe

           Flavor Is it vegetarian?
0      Margherita                 Y
1       Pepperoni                 N
2  Ham and cheese                 N
3            None              None
4        Hawaiian                 N
5     Four cheese                 Y
6
7        Mushroom                 Y

In [84]:
pizza_dataframe.head(3)

           Flavor Is it vegetarian?
0      Margherita                 Y
1       Pepperoni                 N
2  Ham and cheese                 N

In [85]:
pizza_dataframe.tail(3)

        Flavor Is it vegetarian?
5  Four cheese                 Y
6
7     Mushroom                 Y

In [86]:
pizza_dataframe.shape

(8, 2)

## Checking the dataframe info

In [87]:
pizza_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Flavor             7 non-null      object
 1   Is it vegetarian?  7 non-null      object
dtypes: object(2)
memory usage: 256.0+ bytes

```
['', ''] is not the same as []
```